
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}
<style>
    .market-updates{
        display:none;
    }
</style>
<div class="market-updates1">
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-eye"> </i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Visitors</h4>
                <h3>@ViewBag.LuongTruyCap</h3>
           
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-users"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Users</h4>
                <h3>@ViewBag.TongThanhVien</h3>
       
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-3">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-usd"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Sales</h4>
                <h3>@ViewBag.TongDoanhThu vnđ</h3>
      
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-4">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h4>Orders</h4>
                <h3>@ViewBag.TongDonHang</h3>
           
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    
    <div class="clearfix"> </div>
    <br />
    <div class="col-md-3 market-update-gd">
        <div class="market-update-block clr-block-5">
            <div class="col-md-4 market-update-right">
                <i class="fa fa-eye"> </i>
            </div>
            <div class="col-md-8 market-update-left">

                <h4>Online</h4>
                <h3>@ViewBag.LuongTruyCapOnline</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

