@using DoAnI.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
    //Khởi tạo control webgrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}

@* Thể hiện dữ liệu thông qua control webgrid *@
<a href="@Url.Action("TaoMoi","QuanLySanPham")" class="btn btn-success" role="button" style="margin-bottom:20px;margin-left:12px;">Thêm sản phẩm</a>
<div class="col-md-12">
    @grid.GetHtml(
    tableStyle: "table divtable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaSP", "Mã SP"),
    grid.Column("TenSP", "Tên SP"),
    grid.Column("HinhAnh", "Hình Ảnh", format: p => @Html.Raw("<img width=\"70px\" height=\"70px\" src=\"/Content/images/" + p.HinhAnh + "\">")),
    grid.Column(format: p => @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id = p.MaSP })),
    grid.Column(format: p => @Html.ActionLink("Xóa", "Xoa", new { id = p.MaSP }))
))
</div>
<style>
    .divtable {
        border: 1px solid #ffffff;
        text-align: center;
    }
    .gridHead{
        background-color:#a605c5;
    }
    .gridHead > th > a{
        color:#fff;
    }
</style>
