@using DoAnI.Models;
@model IEnumerable<Quyen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Quản lý quyền</h2>
<a href="@Url.Action("ThemQuyen","Quyen")" class="btn btn-success" role="button">Thêm quyền</a>
<table class="table table-bordered">
    <tr>
        <th>Mã quyền</th>
        <th>Tên quyền</th>
        <th></th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaQuyen</td>
            <td>@item.TenQuyen</td>
            <td>@Html.ActionLink("Chỉnh sửa", "ChinhSua", "Quyen", new { @mq = item.MaQuyen }, null)</td>
            <td>@Html.ActionLink("Xóa", "Xoa", "Quyen", new { @mq = item.MaQuyen }, null)</td>
            @*<td>@Html.ActionLink("Xem chi tiết", "XemChiTiet", "Quyen")</td>*@
        </tr>
    }
</table>


