@using DoAnI.Models;
@model ItemGioHang

@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layouts/ProductLayout.cshtml";
    List<ItemGioHang> lstGH = ViewBag.GioHang as List<ItemGioHang>;
}

<table class="table">
    <tr>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Hình ảnh</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    @foreach (var item in lstGH)
    {

        if (item.MaSP == Model.MaSP)
        {
            using (Html.BeginForm("CapNhatGioHang","GioHang"))
            {
                @Html.Hidden("MaSP",item.MaSP)
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/images/"+item.HinhAnh)" width="50" height="50" /></td>
                    <td>@Html.TextBox("SoLuong", item.SoLuong)
                        <p style="color:red;" id="TB_sl"></p>
                    </td>
                    <td>@item.DonGia.ToString("#,##") VNĐ</td>
                    <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                    <td>
                        <input type="submit" class="btn btn-success" value="Cập Nhập" id="btnCapNhatSL" />
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td><img src="@Url.Content("~/Content/images/"+item.HinhAnh)" width="50" height="50" /></td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia.ToString("#,##") VNĐ</td>
                <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                </td>

            </tr>
        }
    }
</table>

<script>
    $("#btnCapNhatSL").click(function () {
        var sl = $("#SoLuong").val();
        if (isNaN(sl) || sl <= 0) {
            $("#TB_sl").text("Số lượng không hợp lệ");
            return false;
        }
        $("#TB_sl").text("");
    })
</script>